In [1]:
import pandas as pd
Data=pd.read_csv("E-commerce Website Logs.csv")
Data

C:\Users\Compu City\AppData\Local\Temp\ipykernel_13680\3476879458.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  Data=pd.read_csv("E-commerce Website Logs.csv")

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,NaN,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,NaN,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,NaN,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,NaN,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,NaN,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [2]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172838 entries, 0 to 172837
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   accessed_date     172838 non-null  object
 1   duration_(secs)   172838 non-null  int64
 2   network_protocol  172838 non-null  object
 3   ip                172838 non-null  object
 4   bytes             172838 non-null  int64
 5   accessed_Ffom     172838 non-null  object
 6   age               99457 non-null   object
 7   gender            172838 non-null  object
 8   country           172838 non-null  object
 9   membership        172835 non-null  object
 10  language          172835 non-null  object
 11  sales             172838 non-null  float64
 12  returned          172831 non-null  object
 13  returned_amount   172838 non-null  float64
 14  pay_method        172838 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 19.8+ MB

In [3]:
Data.describe()

       duration_(secs)          bytes          sales  returned_amount
count    172838.000000  172838.000000  172838.000000    172838.000000
mean       3248.031827    1535.206858     411.346449        74.012092
std        1010.872270    6349.555845     785.537868       364.446435
min        1500.000000      28.000000       0.000000         0.000000
25%        2371.000000     264.000000       5.230000         0.000000
50%        3246.000000     589.000000      46.920000         0.000000
75%        4124.000000    2430.000000     600.160000         0.000000
max        5000.000000  932858.000000   11199.968000     22638.480000

In [4]:
Data.shape

(172838, 15)

In [5]:
Data.index

RangeIndex(start=0, stop=172838, step=1)

In [6]:
Data.sample(frac=0.2)

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
23293,36:44.0,2579,TCP,50.159.234.96,2267,Android App,64,Female,US,Premium,English,900.24,No,0.00,Others
102011,19:53.8,2462,TCP,41.50.27.30,264,Android App,NaN,Male,IN,Premium,English,900.24,No,0.00,Cash
8225,32:36.3,3118,HTTP,90.23.105.189,639,Mozilla Firefox,50,Female,CN,Normal,French,189.70,No,0.00,Cash
170561,15:23.0,2955,TCP,107.175.80.73,2889,Mozilla Firefox,NaN,Female,RU,Premium,English,5.23,No,0.00,Credit Card
132743,08:04.8,4112,TCP,124.155.95.132,340,Others,NaN,Male,AR,Premium,Japanese,600.16,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83147,56:51.4,4819,TCP,50.251.248.201,6650,IOS App,45,Female,US,Premium,English,900.24,No,0.00,Others
138826,59:37.5,1683,TCP,213.159.38.90,1593,Android App,NaN,Female,IT,Premium,English,107.52,No,0.00,Cash
49960,25:14.9,3874,HTTP,104.129.46.136,46,Others,32,Male,US,Premium,English,0.00,Yes,11.21,Credit Card
153818,49:41.7,2313,ICMP,154.68.4.173,614,Mozilla Firefox,NaN,Male,JP,Normal,French,20.92,No,0.00,Cash
167108,39:24.8,1848,TCP,86.241.108.255,3705,Android App,NaN,Female,IT,Premium,English,107.52,No,0.00,Cash

In [7]:
Data.isnull().sum()

accessed_date           0
duration_(secs)         0
network_protocol        0
ip                      0
bytes                   0
accessed_Ffom           0
age                 73381
gender                  0
country                 0
membership              3
language                3
sales                   0
returned                7
returned_amount         0
pay_method              0
dtype: int64

In [8]:
Data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
172833    False
172834    False
172835    False
172836    False
172837    False
Length: 172838, dtype: bool

In [9]:
Data.isnull()

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172834,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172835,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172836,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
172837,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [11]:
Data['age'] = pd.to_numeric(Data['age'], errors='coerce')

In [12]:
Data['age'].fillna(Data['age'].mean(), inplace=True)
Data['age'] = Data['age'].astype(int)

In [13]:
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,43,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,43,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,43,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,43,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,43,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [14]:
Data['language']=Data['language'].fillna(Data['language'].mode()[0])
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,43,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,43,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,43,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,43,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,43,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [15]:
Data['membership'].fillna('Normal', inplace=True)
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,43,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,43,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,43,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,43,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,43,Female,CA,Normal,English,23.4600,No,0.00,Credit Card

In [16]:
Data['returned']=Data['returned'].bfill()
Data

,accessed_date,duration_(secs),network_protocol,ip,bytes,accessed_Ffom,age,gender,country,membership,language,sales,returned,returned_amount,pay_method
0,43:57.2,2533,TCP,1.10.195.126,20100,Chrome,28,Female,CA,Normal,English,261.9600,No,0.00,Credit Card
1,43:57.2,4034,TCP,1.1.217.211,20500,Mozilla Firefox,21,Male,AR,Normal,English,731.9400,No,0.00,Debit Card
2,43:26.1,1525,TCP,1.115.198.107,90100,Mozilla Firefox,20,Male,PL,Normal,English,14.6200,No,0.00,Cash
3,43:26.1,4572,TCP,1.121.152.143,100300,Mozilla Firefox,66,Female,IN,Normal,Spanish,957.5775,No,0.00,Credit Card
4,17:09.0,3652,TCP,1.123.135.213,270200,Mozilla Firefox,53,Female,KR,Normal,Spanish,22.3680,No,0.00,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172833,42:01.3,4372,TCP,94.197.121.229,100600,Android App,43,Male,US,Normal,English,0.0000,Yes,143.36,Debit Card
172834,10:17.3,2167,TCP,129.110.241.72,30400,Android App,43,Female,IT,Normal,English,15.1500,No,0.00,Cash
172835,10:17.3,2725,TCP,185.119.252.121,100300,Android App,43,Female,IT,Normal,English,600.1600,No,0.00,Credit Card
172836,52:58.3,3728,TCP,185.145.107.23,50200,Android App,43,Male,US,Normal,Russian,75.7500,No,0.00,Cash
172837,52:58.3,3420,TCP,202.69.12.251,170800,Android App,43,Female,CA,Normal,English,23.4600,No,0.00,Credit Card